<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shree Narayan Machines</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- Footer -->
    <footer class="pt-5 pb-4">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" style="text-align: left;">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Company</h5>
                    <p>
                        <a href="{% url 'index' %}" style="text-decoration: none; color:#4f4f4f;">Home</a>
                    </p>
                    <p>
                        <a href="{% url 'about' %}" style="text-decoration: none; color:#4f4f4f;">About us</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Testimonial</a>
                    </p>
                    <p>
                        <a href="{% url 'index' %}#testimonial" style="text-decoration: none; color:#4f4f4f;">Corporate video</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Sitemap</a>
                    </p>
                    <p>
                        <a href="{% url 'contact' %}" style="text-decoration: none; color:#4f4f4f;">Contact us</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="text-align: left;">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Our Products</h5>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Horizontal Flow Wrap Machine</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Flow Wrap Machine</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Sanitary Pad Folding and Tri
                            Folder Machine</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Soap Packaging Machine</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Sanitary Napkin Making Machine</a>
                    </p>

                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="text-align:left ;">
                    <h5 class="text-uppercase mb-4 font-weight-bold"></h5>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Soap Packaging Machine</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Fully Automatic Soap Packaging
                            Machine</a>
                    </p>
                    <p>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Cup Cake Packaging Machine</a>
                    </p>
                    <p style="font-size: 1.2rem;">
                        <a href="{% url 'products' %}" style="text-decoration: none;color:#4f4f4f;">View All</a>
                        <i class="fa-solid fa-arrow-right" style="color:#4f4f4f;"></i>
                    </p>

                </div>


                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="text-align:left ;">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Share us</h5>
                    <p>
                        <a href="https://www.facebook.com/"><i class="bi bi-facebook mx-2"
                                style="font-size: 30px; color:black;"></i>
                            <a href="#"><i class="bi bi-linkedin mx-2" style="font-size: 30px; color:black;"></i>
                                <a href="#"><i class="bi bi-twitter-x mx-2" style="font-size: 30px; color:black;"></i>

                    </p>

                    <p>
                        <i class="fa-brands fa-youtube mx-2" style="font-size:30px; color:black;"></i>
                        <a href="#" style="text-decoration: none; color:#4f4f4f;">Corporate Video</a>
                    </p>


                </div>

            </div>

            <hr class="mb-4">

            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8" style="text-align: left;">
                    <p style="color:#2f333a;" class="mb-1"><i class="bi bi-c-circle"></i><b style="color: black;">Shree
                            Narayan
                            Machines</b> All Right Reserved (
                        <a href="https://www.indiamart.com/terms-of-use.html" style="color:#2f333a;">
                            Terms of Use
                        </a>)
                    </p>
                    <p style="color:#2f333a;">Developed and Managed by
                        <a href="https://www.indiamart.com/terms-of-use.html" style="color:#2f333a;">
                            IndiaMART InterMESH Limited
                        </a>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white"><img
                                        src="https://play-lh.googleusercontent.com/I4JFwFrttTw96tb0HLs0L8KaNSDDj0y189wftAw3j5_FOinXjEQjIA10b0a2nwekQQ"
                                        style="height: 30px; width:50px;" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>
